<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/images/logo.png"
      width="100"
      height="50"
      class="d-inline-block align-center"
    />
    <span class="logo">ANTivity</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/organizations">Organizations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/saved-events">Saved Events</a>
      </li>
    </ul>
  </div>
</nav>
