<div id="home-area">
  <p id="welcome">Welcome to</p>
  <div>
    <div class="slide-right">
      <p>ANTivity</p>
    </div>
    <h5 class="lead">"A one-stop shop for on-campus clubs and activities."</h5>
    <hr class="my-4" />
    <p id="motivation">Motivation</p>
    <p class="description">
      ANTivity is an event management & discovery platform for UCI students and
      on-campus organizations. Students struggle to find clubs they are
      interested in joining and these clubs find it difficult to publicize their
      events. ANTivity resolves this by enabling clubs to promote themselves and
      publish their events, while students can discover their interests and
      register for on-campus activities. Students can save and label events into
      custom categories and discover events near them that match their
      availability by inputting their schedule.
    </p>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="thumbnail">
        <img
          src="assets/images/home.png"
          style="width: 100%"
          class="img-custom"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img
          src="assets/images/club1.png"
          style="width: 100%"
          class="img-custom"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail">
        <img
          src="assets/images/club2.jpeg"
          style="width: 100%"
          class="img-custom"
        />
      </div>
    </div>
  </div>
</div>
