<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
/>

<div class="container" style="margin-top: 70px">
  <div id="searchBar" style="text-align: center">
    <input
      type="text"
      [(ngModel)]="keyword"
      placeholder="Search for organizations..."
      class="search-bar"
      (input)="search()"
    />
  </div>

  <div id="searchOptions" style="text-align: center">
    <!-- TODO: Question if we need a filter option in our program -->
    <button class="btn btn-primary" id="FilterButton">
      <i class="fa fa-filter"></i> Filters
    </button>
    <button class="btn btn-primary" id="SortButton" (click)="sortByName()">
      <i class="fa fa-sort"></i> Alphabetical Order
    </button>
  </div>
  <table id="table" class="table table-hover">
    <thead>
      <tr>
        <th style="text-align: center">Organizations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let org of organizations; let i = index">
        <td *ngIf="displayStatus[i]">
          <div class="card card-bar">
            <div class="card-header bg-primary card-header-custom">
              <div id="org + {{ org.id }}">
                <img
                  src="../../../assets/images/anteater-icon.png"
                  width="50"
                  height="50"
                  style="color: #0f79dc; float: left"
                />
              </div>
              <span
                style="margin: 10px; position: absolute; vertical-align: middle"
                >{{ org.name }}</span
              >
            </div>
            <!-- Information -->
            <div class="row">
              <div class="col image-area">
                <img
                  src="{{ org.image }}"
                  width="200px"
                  height="200px"
                  class="img-custom"
                />
              </div>
              <div class="col-md-8">
                <div class="row" style="margin-top: 15px">
                  <div class="col-1"></div>
                  <div class="col-5">
                    <i
                      class="fa fa-external-link"
                      style="color: #0f79dc; margin: 5px"
                    ></i>
                    <a href="{{ org.website }}" target="_blank">{{
                      org.website.split("/")[2]
                    }}</a>
                  </div>
                  <div class="col-6">
                    <i
                      class="fa fa-facebook-square"
                      style="color: #0f79dc; margin: 5px"
                    ></i>
                    {{ org.social_media }}
                  </div>
                </div>
                <br />
                <br />
                <div class="row" style="margin-left: 5px; margin-right: 5px">
                  <span [innerHTML]="org.description"></span>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div
                class="container event-link-area"
                *ngIf="collapseStatusOrgs[i]"
              >
                <div class="container" *ngIf="orgsEvent">
                  <br />
                  <h6>
                    <span>Upcoming Events</span>
                  </h6>
                  <br />
                  <div class="row">
                    <div class="col" style="text-align: right; color: #aaaaaa">
                      {{ orgsEvent.date.split(" ")[0] }}
                    </div>
                    <div class="col-1"></div>
                    <div
                      class="col"
                      (click)="goToEventPageById(orgsEvent.id)"
                      style="
                        cursor: pointer;
                        font-weight: bold;
                        color: var(--bright-blue);
                      "
                    >
                      {{ orgsEvent.name }} <i class="fa fa-external-link"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="text-align: right; color: #aaaaaa">
                      {{
                        orgsEvent.date.split(" ")[1] +
                          " " +
                          orgsEvent.date.split(" ")[2]
                      }}
                    </div>
                    <div class="col-1"></div>
                    <div class="col">{{ orgsEvent.location }}</div>
                  </div>
                </div>
                <div *ngIf="!orgsEvent">
                  <br />
                  <h5>Currently has No Upcoming Events</h5>
                  <br />
                </div>
              </div>
            </div>
            <div class="container collapse-area text-center">
              <i
                (click)="selectOrganization(org, i)"
                [class]="
                  collapseStatusOrgs[i] === false
                    ? 'bi
                  bi-caret-down-fill'
                    : 'bi
                  bi-caret-up-fill'
                "
                style="font-size: 1.5rem; cursor: pointer"
              ></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
