<div id="saved-events-area">
  <div class="saved-buttons">
    <div class="import-area" (click)="goToSchedulePage()">
      <i class="bi bi-upload import-icon"></i>
      <span class="import-label">Import Schedule</span>
    </div>
    <div class="schedule-toggle">
      <label class="switch">
        <input type="checkbox" (click)="toggleSchedule()" />
        <span class="slider round"></span> </label
      ><span class="toggle-label">Filter by My Schedule</span>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="container" id="saved-events-groups" data-selected="All">
    <div class="row" id="categories">
      <div class="col">
        <button
          id="All"
          class="btn btn-primary bg-transparent btn-category-custom"
          (click)="displayEventsByCategory('All')"
          style="border: none; color: black"
        >
          All
        </button>
      </div>
      <div class="col" *ngFor="let category of categories; let i = index">
        <button
          [id]="category"
          class="btn btn-primary bg-transparent btn-category-custom"
          (click)="displayEventsByCategory(category)"
          style="border: none; color: var(--light-cyan)"
        >
          {{ category }}
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div *ngFor="let event of displayedEvents" class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="row card-body">
            <img
              class="col-sm-6"
              [src]="'../../../assets/images/' + event.image"
              alt="sans"
            />
            <div class="col-sm-6 my-auto card-body-custom">
              <h5 class="card-title">{{ event.name }}</h5>
              <div class="card-text">
                <p>{{ event.organization }}</p>
                <p>{{ event.date }}</p>
                <p>{{ event.location }}</p>
              </div>
              <button class="btn btn-primary" (click)="goToEvent(event.id)">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
