<div id="saved-events-area">
  <p>saved-events works!</p>
  <button class="btn btn-primary" (click)="goToSchedulePage()">
    Import Schedule
  </button>
  <div class="container" id="saved-events-groups" data-selected="All">
    <div class="row" id="categories">
      <div class="col">
        <button id="All" class="btn btn-primary bg-transparent" (click)="showAll()" style="border: none; color: black">
          All
        </button>
      </div>
    </div>
  </div>
  <div class="container" id="saved-events">
    <div class="row" id="event-row-1">
      <p>Hello</p>
    </div>
    <div class="row" id="event-row-2">
      <p>there</p>
    </div>
  </div>
</div>
