<div id="schedule-area">
  <h2>My Schedule</h2>
  <div id="instructions-area">
    <p>
      Welcome to your schedule! Select a building to input your duration there.
      We will use this information to help you find events near you that match
      your availability.
    </p>
  </div>
  <div class="campus-area">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 3171 2060"
    >
      <image
        xlink:href="../../../assets/images/north.png"
        class="img-fluid"
      ></image>
      <a (click)="selectArea($event)">
        <rect
          x="55"
          y="1059"
          fill="#fff"
          opacity="0"
          width="301"
          height="136"
          title="Intercollegiate Athletics Building"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="427"
          y="919"
          fill="#fff"
          opacity="0"
          width="279"
          height="390"
          title="Humanities Gateway"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1911"
          y="818"
          fill="#fff"
          opacity="0"
          width="241"
          height="301"
          title="Aldrich Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2054"
          y="454"
          fill="#fff"
          opacity="0"
          width="315"
          height="292"
          title="Irvine Barclay Theatre"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1211"
          y="266"
          fill="#fff"
          opacity="0"
          width="670"
          height="964"
          title="Student Center"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="722"
          y="841"
          fill="#fff"
          opacity="0"
          width="402"
          height="267"
          title="Humanities Instructional Building"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="646"
          y="1404"
          fill="#fff"
          opacity="0"
          width="276"
          height="253"
          title="Humanities Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="921"
          y="1255"
          fill="#fff"
          opacity="0"
          width="265"
          height="263"
          title="Krieger Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1604"
          y="1376"
          fill="#fff"
          opacity="0"
          width="297"
          height="178"
          title="Gateway Study Center"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1588"
          y="1250"
          fill="#fff"
          opacity="0"
          width="280"
          height="97"
          title="Cross Cultural Center"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2220"
          y="1625"
          fill="#fff"
          opacity="0"
          width="319"
          height="174"
          title="Social Science Trailers"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1919"
          y="1441"
          fill="#fff"
          opacity="0"
          width="263"
          height="346"
          title="Langson Library"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="420"
          y="1534"
          fill="#fff"
          opacity="0"
          width="225"
          height="293"
          title="Anteater Learning Pavillion"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2574"
          y="1660"
          fill="#fff"
          opacity="0"
          width="566"
          height="169"
          title="Social Science Plaza"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2554"
          y="1553"
          fill="#fff"
          opacity="0"
          width="255"
          height="100"
          title="Social Science Lecture Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2634"
          y="1365"
          fill="#fff"
          opacity="0"
          width="518"
          height="170"
          title="Social and Behavioral Sciences Gateway"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2711"
          y="1851"
          fill="#fff"
          opacity="0"
          width="461"
          height="180"
          title="Social Ecology II"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2211"
          y="1854"
          fill="#fff"
          opacity="0"
          width="373"
          height="200"
          title="Social Science Tower"
        ></rect>
      </a>
    </svg>
  </div>
  <div class="campus-area">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 2792 1902"
    >
      <image
        width="2792"
        height="1902"
        xlink:href="../../../assets/images/east.png"
      ></image>
      <a (click)="selectArea($event)">
        <rect
          x="549"
          y="216"
          fill="#fff"
          opacity="0"
          width="450"
          height="149"
          title="Social and Behavioral Science Gateway"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="289"
          y="982"
          fill="#fff"
          opacity="0"
          width="195"
          height="194"
          title="Social Science Lab"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="158"
          y="851"
          fill="#fff"
          opacity="0"
          width="343"
          height="101"
          title="Social Science Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="84"
          y="671"
          fill="#fff"
          opacity="0"
          width="336"
          height="161"
          title="Social Science Tower"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="563"
          y="655"
          fill="#fff"
          opacity="0"
          width="429"
          height="164"
          title="Social Ecology II"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="552"
          y="425"
          fill="#fff"
          opacity="0"
          width="380"
          height="202"
          title="Social Science Plaza"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="374"
          y="340"
          fill="#fff"
          opacity="0"
          width="166"
          height="151"
          title="Social Science Lecture Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="84"
          y="448"
          fill="#fff"
          opacity="0"
          width="296"
          height="167"
          title="Social Science Trailers"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="721"
          y="899"
          fill="#fff"
          opacity="0"
          width="399"
          height="132"
          title="Social Ecology I"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1389"
          y="729"
          fill="#fff"
          opacity="0"
          width="389"
          height="561"
          title="Continuing Education"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1431"
          y="384"
          fill="#fff"
          opacity="0"
          width="437"
          height="176"
          title="Multipurpose Academic and Admin Building"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1004"
          y="414"
          fill="#fff"
          opacity="0"
          width="370"
          height="398"
          title="Merage School of Business"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="5"
          y="1185"
          fill="#fff"
          opacity="0"
          width="260"
          height="165"
          title="Phoenix Food Court"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1848"
          y="1397"
          fill="#fff"
          opacity="0"
          width="925"
          height="321"
          title="Continuing Education"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1928"
          y="1107"
          fill="#fff"
          opacity="0"
          width="783"
          height="249"
          title="Student Health Center"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1994"
          y="267"
          fill="#fff"
          opacity="0"
          width="342"
          height="246"
          title="Education"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1965"
          y="541"
          fill="#fff"
          opacity="0"
          width="345"
          height="160"
          title="Law"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="544"
          y="1086"
          fill="#fff"
          opacity="0"
          width="823"
          height="786"
          title="Middle Earth Towers"
        ></rect>
      </a>
    </svg>
  </div>
  <div class="campus-area">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 3227 1827"
    >
      <image
        width="3227"
        height="1827"
        xlink:href="../../../assets/images/south.png"
      ></image>
      <a (click)="selectArea($event)">
        <rect
          x="905"
          y="1242"
          fill="#fff"
          opacity="0"
          width="219"
          height="261"
          title="Physical Sciences Lecture Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="607"
          y="1120"
          fill="#fff"
          opacity="0"
          width="243"
          height="248"
          title="Croul Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="308"
          y="1128"
          fill="#fff"
          opacity="0"
          width="278"
          height="290"
          title="Physical Sciences High Bay"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="389"
          y="866"
          fill="#fff"
          opacity="0"
          width="360"
          height="227"
          title="Natural Sciences II"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="0"
          y="718"
          fill="#fff"
          opacity="0"
          width="374"
          height="249"
          title="Natural Sciences I"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="546"
          y="283"
          fill="#fff"
          opacity="0"
          width="436"
          height="266"
          title="McGaugh Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="541"
          y="61"
          fill="#fff"
          opacity="0"
          width="370"
          height="216"
          title="Schneiderman Lecture Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1149"
          y="1241"
          fill="#fff"
          opacity="0"
          width="249"
          height="238"
          title="Physical Sciences Classroom Building"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="815"
          y="572"
          fill="#fff"
          opacity="0"
          width="332"
          height="405"
          title="Rowland Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2059"
          y="1588"
          fill="#fff"
          opacity="0"
          width="518"
          height="207"
          title="Calit2"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1853"
          y="1353"
          fill="#fff"
          opacity="0"
          width="308"
          height="232"
          title="Bren Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1487"
          y="1503"
          fill="#fff"
          opacity="0"
          width="373"
          height="273"
          title="University Club"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="771"
          y="1524"
          fill="#fff"
          opacity="0"
          width="543"
          height="259"
          title="Interdisciplinary Science and Engineering Building"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2162"
          y="413"
          fill="#fff"
          opacity="0"
          width="378"
          height="291"
          title="Engineering Tower"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2225"
          y="1102"
          fill="#fff"
          opacity="0"
          width="315"
          height="305"
          title="Engineering Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1777"
          y="1072"
          fill="#fff"
          opacity="0"
          width="428"
          height="104"
          title="Information and Computer Science 2"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1802"
          y="717"
          fill="#fff"
          opacity="0"
          width="464"
          height="320"
          title="Information and Computer Science"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1499"
          y="693"
          fill="#fff"
          opacity="0"
          width="259"
          height="291"
          title="Parkview Classroom Building"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1171"
          y="802"
          fill="#fff"
          opacity="0"
          width="324"
          height="373"
          title="Reines Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2769"
          y="986"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Engineering and Computing Trailer"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2888"
          y="1102"
          fill="#fff"
          opacity="0"
          width="340"
          height="187"
          title="Engineering Laboratory Facilitiy"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2645"
          y="1347"
          fill="#fff"
          opacity="0"
          width="450"
          height="335"
          title="Engineering Gateway"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2366"
          y="711"
          fill="#fff"
          opacity="0"
          width="320"
          height="161"
          title="Engineering Lecture Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2811"
          y="763"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Interim Classroom Facility"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2646"
          y="878"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Disability Service Center"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2592"
          y="1109"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Rockwell Engineering Auditorium"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2419"
          y="947"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="McDonnell Douglas Engineering Auditorium"
        ></rect>
      </a>
    </svg>
  </div>
  <div class="campus-area">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 2949 1952"
    >
      <image
        width="2949"
        height="1952"
        xlink:href="../../../assets/images/west.png"
      ></image>
      <a (click)="selectArea($event)">
        <rect
          x="1944"
          y="1396"
          fill="#fff"
          opacity="0"
          width="324"
          height="177"
          title="Schneiderman Lecture Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="2078"
          y="1221"
          fill="#fff"
          opacity="0"
          width="298"
          height="139"
          title="BC Cavern's Food Court"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1788"
          y="913"
          fill="#fff"
          opacity="0"
          width="408"
          height="246"
          title="Steinhaus Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="851"
          y="876"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Arts Annex"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="716"
          y="971"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="KUCI Radio Station"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="920"
          y="1144"
          fill="#fff"
          opacity="0"
          width="358"
          height="353"
          title="Science Library"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1456"
          y="798"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Qureshey Research Laboratory"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1000"
          y="1511"
          fill="#fff"
          opacity="0"
          width="639"
          height="388"
          title="Biological Sciences III"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1868"
          y="1628"
          fill="#fff"
          opacity="0"
          width="603"
          height="258"
          title="McGaugh Hall"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1256"
          y="997"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Bonney Research Laboratory"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="1110"
          y="771"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Center for the Neurobiology of Learning and Memory Annex"
        ></rect>
      </a>
      <a (click)="selectArea($event)">
        <rect
          x="870"
          y="635"
          fill="#fff"
          opacity="0"
          width="100"
          height="100"
          title="Humanities Interim Classroom Facility/Studio Art Trailer"
        ></rect>
      </a>
    </svg>
  </div>
</div>
