<div id="schedule-area">
  <h2>My Schedule</h2>
  <div id="instructions-area">
    <p>
      Welcome to your schedule! Select a building to input your duration there.
      We will use this information to help you find events near you that match
      your availability.
    </p>
  </div>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 3171 2060"
  >
    <image
      xlink:href="../../../assets/images/north.png"
      class="img-fluid"
    ></image>
    <a (click)="selectArea($event)">
      <rect
        x="55"
        y="1059"
        fill="#fff"
        opacity="0"
        width="301"
        height="136"
        title="Intercollegiate Athletics Building"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="427"
        y="919"
        fill="#fff"
        opacity="0"
        width="279"
        height="390"
        title="Humanities Gateway"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1911"
        y="818"
        fill="#fff"
        opacity="0"
        width="241"
        height="301"
        title="Aldrich Hall"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="2054"
        y="454"
        fill="#fff"
        opacity="0"
        width="315"
        height="292"
        title="Irvine Barclay Theatre"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1211"
        y="266"
        fill="#fff"
        opacity="0"
        width="670"
        height="964"
        title="Student Center"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="722"
        y="841"
        fill="#fff"
        opacity="0"
        width="402"
        height="267"
        title="Humanities Instructional Building"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="646"
        y="1404"
        fill="#fff"
        opacity="0"
        width="276"
        height="253"
        title="Humanities Hall"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="921"
        y="1255"
        fill="#fff"
        opacity="0"
        width="265"
        height="263"
        title="Krieger Hall"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1604"
        y="1376"
        fill="#fff"
        opacity="0"
        width="297"
        height="178"
        title="Gateway Study Center"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1588"
        y="1250"
        fill="#fff"
        opacity="0"
        width="280"
        height="97"
        title="Cross Cultural Center"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="2220"
        y="1625"
        fill="#fff"
        opacity="0"
        width="319"
        height="174"
        title="Social Science Trailers"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1919"
        y="1441"
        fill="#fff"
        opacity="0"
        width="263"
        height="346"
        title="Langson Library"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="420"
        y="1534"
        fill="#fff"
        opacity="0"
        width="225"
        height="293"
        title="Anteater Learning Pavillion"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="2574"
        y="1660"
        fill="#fff"
        opacity="0"
        width="566"
        height="169"
        title="Social Science Plaza"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="2554"
        y="1553"
        fill="#fff"
        opacity="0"
        width="255"
        height="100"
        title="Social Science Lecture Hall"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="2634"
        y="1365"
        fill="#fff"
        opacity="0"
        width="518"
        height="170"
        title="Social and Behavioral Sciences Gateway"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="2711"
        y="1851"
        fill="#fff"
        opacity="0"
        width="461"
        height="180"
        title="Social Ecology II"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="2211"
        y="1854"
        fill="#fff"
        opacity="0"
        width="373"
        height="200"
        title="Social Science Tower"
      ></rect>
    </a>
  </svg>

  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 2792 1902"
  >
    <image
      width="2792"
      height="1902"
      xlink:href="../../../assets/images/east.png"
    ></image>
    <a (click)="selectArea($event)">
      <rect
        x="549"
        y="216"
        fill="#fff"
        opacity="0"
        width="450"
        height="149"
        title="Social and Behavioral Science Gateway"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="289"
        y="982"
        fill="#fff"
        opacity="0"
        width="195"
        height="194"
        title="Social Science Lab"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="158"
        y="851"
        fill="#fff"
        opacity="0"
        width="343"
        height="101"
        title="Social Science Hall"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="84"
        y="671"
        fill="#fff"
        opacity="0"
        width="336"
        height="161"
        title="Social Science Tower"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="563"
        y="655"
        fill="#fff"
        opacity="0"
        width="429"
        height="164"
        title="Social Ecology II"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="552"
        y="425"
        fill="#fff"
        opacity="0"
        width="380"
        height="202"
        title="Social Science Plaza"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="374"
        y="340"
        fill="#fff"
        opacity="0"
        width="166"
        height="151"
        title="Social Science Lecture Hall"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="84"
        y="448"
        fill="#fff"
        opacity="0"
        width="296"
        height="167"
        title="Social Science Trailers"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="721"
        y="899"
        fill="#fff"
        opacity="0"
        width="399"
        height="132"
        title="Social Ecology I"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1389"
        y="729"
        fill="#fff"
        opacity="0"
        width="389"
        height="561"
        title="Continuing Education"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1431"
        y="384"
        fill="#fff"
        opacity="0"
        width="437"
        height="176"
        title="Multipurpose Academic and Admin Building"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1004"
        y="414"
        fill="#fff"
        opacity="0"
        width="370"
        height="398"
        title="Merage School of Business"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="5"
        y="1185"
        fill="#fff"
        opacity="0"
        width="260"
        height="165"
        title="Phoenix Food Court"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1848"
        y="1397"
        fill="#fff"
        opacity="0"
        width="925"
        height="321"
        title="Continuing Education"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1928"
        y="1107"
        fill="#fff"
        opacity="0"
        width="783"
        height="249"
        title="Student Health Center"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1994"
        y="267"
        fill="#fff"
        opacity="0"
        width="342"
        height="246"
        title="Education"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="1965"
        y="541"
        fill="#fff"
        opacity="0"
        width="345"
        height="160"
        title="Law"
      ></rect>
    </a>
    <a (click)="selectArea($event)">
      <rect
        x="544"
        y="1086"
        fill="#fff"
        opacity="0"
        width="823"
        height="786"
        title="Middle Earth Towers"
      ></rect>
    </a>
  </svg>
</div>
