<div id="schedule-area">
  <h2>My Schedule</h2>
  <div id="instructions-area">
    <p>
      Welcome to your schedule! Select a building to input your duration there.
      We will use this information to help you find events near you that match
      your availability.
    </p>
    <div id="campus-dropdown">
      <div class="btn-group">
        <button type="button" class="btn btn-custom">{{ buttonText }}</button>
        <button
          type="button"
          class="btn btn-custom dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="showMap('north')">North</a>
          <a class="dropdown-item" (click)="showMap('east')">East</a>
          <a class="dropdown-item" (click)="showMap('south')">South</a>
          <a class="dropdown-item" (click)="showMap('west')">West</a>
        </div>
      </div>
    </div>
    <div class="container campus-area" [hidden]="!northMap">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1754 2283"
      >
        <image
          width="1754"
          height="2283"
          xlink:href="../../../assets/images/north_portrait.png"
        ></image>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1101"
            y="1387"
            fill="#fff"
            opacity="0"
            width="332"
            height="141"
            title="Cross Cultural Center"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1436"
            y="908"
            fill="#fff"
            opacity="0"
            width="298"
            height="347"
            title="Aldrich Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="666"
            y="275"
            fill="#fff"
            opacity="0"
            width="680"
            height="1101"
            title="Student Center"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="40"
            y="909"
            fill="#fff"
            opacity="0"
            width="515"
            height="319"
            title="Humanities Instructional Building"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1497"
            y="1642"
            fill="#fff"
            opacity="0"
            width="244"
            height="385"
            title="Langson Library"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="70"
            y="1599"
            fill="#fff"
            opacity="0"
            width="264"
            height="278"
            title="Humanities Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="369"
            y="1348"
            fill="#fff"
            opacity="0"
            width="175"
            height="412"
            title="Krieger Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1141"
            y="1552"
            fill="#fff"
            opacity="0"
            width="302"
            height="195"
            title="Gateway Study Center"
          ></rect>
        </a>
      </svg>
    </div>
    <div class="container campus-area" [hidden]="!eastMap">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1813 2345"
      >
        <image
          width="1813"
          height="2345"
          xlink:href="../../../assets/images/east_portrait.png"
        ></image>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="218"
            y="2204"
            fill="#fff"
            opacity="0"
            width="370"
            height="120"
            title="Engineering Lecture Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="2"
            y="1875"
            fill="#fff"
            opacity="0"
            width="286"
            height="312"
            title="Engineering Tower"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1033"
            y="1238"
            fill="#fff"
            opacity="0"
            width="452"
            height="159"
            title="Social Ecology I"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="580"
            y="1332"
            fill="#fff"
            opacity="0"
            width="189"
            height="215"
            title="Social Science Lab"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="452"
            y="1208"
            fill="#fff"
            opacity="0"
            width="312"
            height="100"
            title="Social Science Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="360"
            y="997"
            fill="#fff"
            opacity="0"
            width="402"
            height="185"
            title="Social Science Tower"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="929"
            y="978"
            fill="#fff"
            opacity="0"
            width="428"
            height="170"
            title="Social Ecology II"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1386"
            y="714"
            fill="#fff"
            opacity="0"
            width="397"
            height="434"
            title="Merage School of Business"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="746"
            y="776"
            fill="#fff"
            opacity="0"
            width="518"
            height="178"
            title="Social Science Plaza"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="705"
            y="668"
            fill="#fff"
            opacity="0"
            width="243"
            height="106"
            title="Social Science Lecture Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="852"
            y="470"
            fill="#fff"
            opacity="0"
            width="504"
            height="192"
            title="Social and Behavioral Sciences Gateway"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="406"
            y="773"
            fill="#fff"
            opacity="0"
            width="295"
            height="163"
            title="Social Science Trailers"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="34"
            y="574"
            fill="#fff"
            opacity="0"
            width="294"
            height="372"
            title="Langson Library"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="821"
            y="1722"
            fill="#fff"
            opacity="0"
            width="464"
            height="100"
            title="Brandywine"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="854"
            y="1423"
            fill="#fff"
            opacity="0"
            width="455"
            height="271"
            title="Middle Earth Towers"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="289"
            y="1567"
            fill="#fff"
            opacity="0"
            width="237"
            height="184"
            title="Phoenix Food Court"
          ></rect>
        </a>
      </svg>
    </div>
    <div class="container campus-area" [hidden]="!southMap">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1763 2283"
      >
        <image
          width="1763"
          height="2283"
          xlink:href="../../../assets/images/south_portrait.png"
        ></image>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1253"
            y="1936"
            fill="#fff"
            opacity="0"
            width="452"
            height="241"
            title="Calit2"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="954"
            y="1690"
            fill="#fff"
            opacity="0"
            width="281"
            height="285"
            title="Bren Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1386"
            y="1450"
            fill="#fff"
            opacity="0"
            width="350"
            height="326"
            title="Engineering Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="926"
            y="1413"
            fill="#fff"
            opacity="0"
            width="447"
            height="95"
            title="Information and Computer Science 2"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1347"
            y="780"
            fill="#fff"
            opacity="0"
            width="319"
            height="262"
            title="Engineering Tower"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="916"
            y="1074"
            fill="#fff"
            opacity="0"
            width="514"
            height="299"
            title="Information and Computer Science"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="589"
            y="1023"
            fill="#fff"
            opacity="0"
            width="257"
            height="217"
            title="Parkview Classroom Building"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="201"
            y="1252"
            fill="#fff"
            opacity="0"
            width="441"
            height="347"
            title="Reines Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="231"
            y="1674"
            fill="#fff"
            opacity="0"
            width="228"
            height="209"
            title="Physical Sciences Classroom Building"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="661"
            y="1938"
            fill="#fff"
            opacity="0"
            width="278"
            height="221"
            title="University Club"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="15"
            y="1634"
            fill="#fff"
            opacity="0"
            width="170"
            height="242"
            title="Physical Sciences Lecture Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="80"
            y="0"
            fill="#fff"
            opacity="0"
            width="1224"
            height="894"
            title="Aldrich Park"
          ></rect>
        </a>
      </svg>
    </div>
    <div class="container campus-area" [hidden]="!westMap">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1759 2283"
      >
        <image
          width="1759"
          height="2283"
          xlink:href="../../../assets/images/west_portrait.png"
        ></image>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="358"
            y="1033"
            fill="#fff"
            opacity="0"
            width="530"
            title="Biological Sciences III"
            height="268"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1081"
            y="485"
            fill="#fff"
            opacity="0"
            width="348"
            height="230"
            title="Steinhaus Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1308"
            y="771"
            fill="#fff"
            opacity="0"
            width="264"
            height="109"
            title="BC Cavern Food Court"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1187"
            y="923"
            fill="#fff"
            opacity="0"
            width="358"
            height="185"
            title="Schneiderman Lecture Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1212"
            y="1129"
            fill="#fff"
            opacity="0"
            width="327"
            height="226"
            title="McGaugh Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="469"
            y="1388"
            fill="#fff"
            opacity="0"
            width="896"
            height="636"
            title="Natural Sciences"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1424"
            y="1396"
            fill="#fff"
            opacity="0"
            width="336"
            height="507"
            title="Rowland Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="1234"
            y="2054"
            fill="#fff"
            opacity="0"
            width="225"
            height="210"
            title="Croul Hall"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="944"
            y="2111"
            fill="#fff"
            opacity="0"
            width="227"
            height="173"
            title="Physical Sciences High Bay"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="537"
            y="538"
            fill="#fff"
            opacity="0"
            width="193"
            height="118"
          ></rect>
          title="Bonney Research Laboratory"
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="700"
            y="326"
            fill="#fff"
            opacity="0"
            width="225"
            height="189"
            title="Qureshey Research Laboratory"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="164"
            y="683"
            fill="#fff"
            opacity="0"
            width="540"
            height="316"
            title="Science Library"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="70"
            y="553"
            fill="#fff"
            opacity="0"
            width="100"
            height="100"
            title="KUCI Radio Station"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="108"
            y="425"
            fill="#fff"
            opacity="0"
            width="226"
            height="98"
            title="Art Annex"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="70"
            y="152"
            fill="#fff"
            opacity="0"
            width="352"
            height="144"
            title="Humanities Interim Classroom Facility/Studio Art Trailer"
          ></rect>
        </a>
        <a
          (click)="selectArea($event)"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <rect
            x="375"
            y="319"
            fill="#fff"
            opacity="0"
            width="288"
            height="142"
            title="Center for the Neurobiology of Learning and Memory Annex"
          ></rect>
        </a>
      </svg>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <div id="popup-label">What days and times are you available at</div>
            {{ selectedArea }}?
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="days">
            <p>Days</p>
            <div class="container days1">
              <span class="day" (click)="selectDay($event)" id="Monday"
                >Monday</span
              >
              <span class="day" (click)="selectDay($event)" id="Tuesday"
                >Tuesday</span
              >
              <span class="day" (click)="selectDay($event)" id="Wednesday"
                >Wednesday</span
              >
            </div>
            <div class="container days2">
              <span class="day" (click)="selectDay($event)" id="Thursday"
                >Thursday</span
              >
              <span class="day" (click)="selectDay($event)" id="Friday"
                >Friday</span
              >
            </div>
            <div class="container days3">
              <span class="day" (click)="selectDay($event)" id="Saturday"
                >Saturday</span
              >
              <span class="day" (click)="selectDay($event)" id="Sunday"
                >Sunday</span
              >
            </div>
          </div>
          <div class="start">
            <div class="form-group row">
              <label for="example-time-input" class="col-form-label"
                >Start Time</label
              >
              <div class="col-sm-4">
                <input
                  class="form-control"
                  type="time"
                  value="08:00:00"
                  id="start-time"
                  [(ngModel)]="startTime"
                />
              </div>
            </div>
          </div>
          <div class="end">
            <div class="form-group row">
              <label for="example-time-input" class="col-form-label"
                >End Time</label
              >
              <div class="col-sm-4">
                <input
                  class="form-control"
                  type="time"
                  value="17:00:00"
                  id="end-time"
                  [(ngModel)]="endTime"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            #closebutton
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="saveSchedule()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <span
          *ngFor="let obj of convertedSchedule"
          class="card col-lg-6 card-custom"
        >
          <div class="card-body">
            <h5 class="card-title">{{ obj[0] }}</h5>
            <span
              class="card-text row justify-content-between card-text-custom"
              *ngFor="let info of obj[1]; let i = index"
            >
              <span class="col-md-5 col-12">{{ formatDays(info[0]) }}</span>
              <span class="col-md-5 col-12">
                <span class="time"
                  >{{ formatTime(info[1]) }} - {{ formatTime(info[2]) }}</span
                >
                <i
                  class="bi bi-x-circle-fill inline-block"
                  (click)="removeScheduleInput(obj[0], i)"
                ></i>
              </span>
            </span>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
