#schedule-area {
  margin: 25px;
}

h2 {
  text-align: center;
  color: var(--dark-blue);
  text-transform: uppercase;
  letter-spacing: 3px;
}

#instructions-area {
  margin-top: 1rem;
}

#instructions-area p {
  color: var(--light-cyan);
  color: white;
  font-size: 1.25rem;
}

map area {
  cursor: pointer;
}
