#schedule-area {
  margin: 25px;
}

h2 {
  text-align: center;
  color: var(--dark-blue);
  text-transform: uppercase;
  letter-spacing: 3px;
}

#instructions-area {
  margin-top: 1rem;
}

#instructions-area p {
  color: var(--light-cyan);
  color: white;
  font-size: 1.25rem;
}

.campus-area a {
  cursor: pointer;
}

.campus-area {
  margin-bottom: 50px;
}

.btn-custom {
  background-color: var(--dark-blue);
  color: var(--light-cyan);
}

#campus-dropdown {
  margin-bottom: 10px;
}

.modal-title div {
  font-weight: normal;
  font-size: 1rem;
}

.modal-content {
  text-align: center;
}

#exampleModalLabel {
  color: var(--gold);
}

#popup-label {
  color: black;
}

.modal-body {
  text-align: left;
}

.days1,
.days2,
.days3 {
  margin-bottom: 30px;
  text-align: center;
}

.day {
  background-color: var(--light-cyan);
  padding: 12px;
  border-radius: 30px;
  margin-right: 3px;
  cursor: pointer;
}

.day:hover {
  background-color: var(--bright-blue);
  color: var(--white);
}

.day-clicked {
  background-color: var(--bright-blue);
  color: var(--white);
}

.day-unclicked {
  background-color: var(--light-cyan);
  color: black;
}
